bin/
obj/
riderModule.iml
/_ReSharper.Caches/
.DS_Store
.DS_Store?
.idea
node_modules
build
*.zip
*.log
yarn-error.log
bin
obj
.DS_Store
NuGet.config
nuget.config
.idea/
*.sln.DotSettings.user
.vs/
**/.vscode/*